<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>OrganizationControllerAdd</servlet-name>
		<servlet-class>controller.organizations.OrganizationControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrganizationControllerAdd</servlet-name>
		<url-pattern>/organizations/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrganizationControllerDelete</servlet-name>
		<servlet-class>controller.organizations.OrganizationControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrganizationControllerDelete</servlet-name>
		<url-pattern>/organizations/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrganizationControllerIndex</servlet-name>
		<servlet-class>controller.organizations.OrganizationControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrganizationControllerIndex</servlet-name>
		<url-pattern>/organizations</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrganizationControllerView</servlet-name>
		<servlet-class>controller.organizations.OrganizationControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrganizationControllerView</servlet-name>
		<url-pattern>/organizations/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrganizationControllerLogin</servlet-name>
		<servlet-class>controller.organizations.OrganizationControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrganizationControllerLogin</servlet-name>
		<url-pattern>/organizations/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrganizationControllerLogout</servlet-name>
		<servlet-class>controller.organizations.OrganizationControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrganizationControllerLogout</servlet-name>
		<url-pattern>/organizations/logout</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<servlet>
		<servlet-name>ProductControllerAdd</servlet-name>
		<servlet-class>controller.products.ProductControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerAdd</servlet-name>
		<url-pattern>/products/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductControllerDelete</servlet-name>
		<servlet-class>controller.products.ProductControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerDelete</servlet-name>
		<url-pattern>/products/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductControllerIndex</servlet-name>
		<servlet-class>controller.products.ProductControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerIndex</servlet-name>
		<url-pattern>/products</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductControllerView</servlet-name>
		<servlet-class>controller.products.ProductControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductControllerView</servlet-name>
		<url-pattern>/products/view</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>ResourceControllerView</servlet-name>
		<servlet-class>controller.resources.ResourceControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerIndex</servlet-name>
		<servlet-class>controller.resources.ResourceControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerAdd</servlet-name>
		<servlet-class>controller.resources.ResourceControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ResourceControllerDelete</servlet-name>
		<servlet-class>controller.resources.ResourceControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
